@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Pacifico&family=Playwrite+CU:wght@100..400&family=SUSE:wght@100..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SUSE;
  scroll-behavior: smooth;
}
body{
  min-height: none;
}
::-webkit-scrollbar {
  width: 0.5rem;
  background: #aeff44;
}
::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background: #10c500;
  border-radius: 5rem;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width:80%;
  margin: auto;
}
@keyframes fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}